.container {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  height: 100vh;
}

.left-half {
  flex: 1;
  background-color: #8a8d8f;
  position: relative;
}

.right-half {
  flex: 1;
  background-color: #ffffff;
}
.logo_container {
  position: absolute;
  width: 500px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column; /* 수직 정렬 */
  align-items: center;
  gap: 10px; /* logo와 webintro 사이 간격 */
}
.logo {
  width: 300px;
  height: auto;
}
.webintro {
  width: 90%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.webintro2 {
  width: 90%;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
.signup {
  text-align: center;
  margin-top: 60px;
}
.signup-text {
  font-size: 16px;
}
.link {
  color: #ffbc00;
  margin-left: 8px;
  cursor: pointer;
  text-decoration: underline;
}
.head_introduce {
  padding-top: 15px;
  font-size: 50px;
}
.introduce {
  text-align: left;
  padding-left: 150px;
  padding-top: 10px;
  font-size: 20px;
}
.loginForm {
  margin: 20px auto;
  padding: 30px;
}

.userEmail,
.userPw {
  width: 70%;
  height: 60px;
  padding-top: 10px;
  margin-bottom: 15px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 6px;
  font-size: 17px;
  box-sizing: border-box;
  transition: border-color 0.2s;
  text-align: left;
  padding-left: 40px;
}
.userPw {
  margin: 20px;
}
.btnLogin {
  width: 70%;
  height: 60px;
  background-color: #ffbc00;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 20px;
  margin: 40px 0 5px 0;
}
.find_info {
  font-size: 16px;
}
