.write-box {
  position: relative;
  left: 200px;
  top: 250px;
}
.list-box {
  position: relative;
  bottom: 100px;
  /* left: 200px; */
}
body > div {
  right: 300px;
  position: relative;
  /* border: 1px solid black; */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
